@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.text-danger {
  margin-top: 10px;
  color: #eb4d4b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.top-bar {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .top-bar {
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.profile {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: #00ACEE;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .profile {
    width: 30%;
    position: fixed;
    height: 60%;
    top: 20%;
    left: 5%;
    border-radius: 1rem;
    border: 1px solid #ddd;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .profile {
    width: 20%;
  }
}
.profile-img {
  width: 20%;
}
.profile-img img {
  width: 4rem;
  border-radius: 50%;
  border: 3px solid #ddd;
  margin-left: 1rem;
}
@media (min-width: 992px) {
  .profile-img img {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .profile-info {
    margin-left: -3rem;
  }
}
@media (min-width: 992px) {
  .profile-info {
    margin: 0;
  }
}
.profile-actions {
  margin-left: 3rem;
}
@media (min-width: 768px) {
  .profile-actions {
    margin-left: 25rem;
  }
}
@media (min-width: 992px) {
  .profile-actions {
    margin: 2rem 0;
  }
}
.profile-data {
  display: none;
}
@media (min-width: 992px) {
  .profile-data {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 992px) {
  .profile-data-posts, .profile-data-followers, .profile-data-following {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.btn {
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
}
.btn-primary {
  background-color: #00ACEE;
}
.btn-primary:hover {
  background-color: #0078a8;
}
.btn-secondary {
  background-color: #0078a8;
}
.btn-secondary:hover {
  background-color: #00ACEE;
}

.form-new {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  border-bottom: 1px solid #ddd;
}
.form-new .form-title h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.form-new .form-body {
  width: 100%;
}
.form-new .form-body .form-item {
  width: 100%;
}
.form-new .form-body .form-item textarea, .form-new .form-body .form-item input {
  width: 100%;
  border: none;
  resize: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.form-new .form-body .form-item textarea {
  border: 1px solid #ddd;
  height: 7rem;
  padding: 1rem;
}
.form-new .form-body .form-item input {
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
